
.header-tourney {
  position: relative;
}

.header-tourney .icon-rotate {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  width: 50px !important;
  height: 35px !important;
  position: absolute !important;
}

.header-tourney .icon-rotate button {
  width: 100% !important;
  min-width: 100% !important;
  padding: 6px 12px 10px !important;
}

.tabs {
  margin-top: 20px;
}

/* Tabela de Classificação */
.ranking-table * {
  box-sizing: initial;
}

.ranking-table {
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  line-height: 20px;
  border-spacing: 0;
  position: relative;
  border-collapse: collapse;
  background-color: transparent;
}

.ranking-table th,
.ranking-table td {
  padding: 8px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.ranking-table th.ranking-table-name,
.ranking-table td.ranking-table-name {
  height: 40px;
  white-space: normal;
}

.ranking-table .ranking-table-name .avatar {
  margin-top: -20px;
  margin-left: -8px;
}

.ranking-table td:last-child {
  border-right: 0;
}

.ranking-table thead th {
  font-weight: normal;
  color: #aaa;
  background-color: #3e3e3e;
}

.ranking-table tbody > tr:nth-child(even) > td,
.ranking-table tbody > tr:nth-child(even) > th {
  color: #ffffff;
  background-color: #303030;
}

.ranking-table tbody > tr:nth-child(odd) > td,
.ranking-table tbody > tr:nth-child(odd) > th {
  color: #ffffff;
}

.ranking-table thead,
.ranking-table tbody,
.ranking-table th,
.ranking-table td,
.ranking-table tr {
  display: block;
}

.ranking-table tbody tr {
  display: inline-block;
}

.ranking-table thead {
  float: left;
}

/* ajuste fino de layout por causa do scroll horizontal */
/*
.ranking-table thead th:last-child {
  padding-bottom: 24px;
}
*/

.ranking-table tbody {
  width: auto;
  overflow-x: auto;
  position: relative;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.ranking-table tbody td {
  width: 50px;
  text-align: center;
}

/* tabela na vertical */
.table-vertical,
.table-horizontal {
  overflow-y: auto;
}

.table-vertical .ranking-table thead,
.table-vertical .ranking-table tbody,
.table-vertical .ranking-table th,
.table-vertical .ranking-table td,
.table-vertical .ranking-table tr {
  display: table-cell;
}

.table-vertical .ranking-table thead {
  float: none;
}

.table-vertical .ranking-table thead tr {
  display: table-row;
}

.table-vertical .ranking-table tbody tr,
.table-vertical .ranking-table tbody {
  display: table-row;
}

.table-vertical .ranking-table tbody td {
  display: table-cell;
}

.table-vertical .ranking-table .ranking-table-name .avatar {
  margin-top: -8px;
}

/* info */
.info-header {
  color: #aaa;
  font-size: 12px;
  padding: 16px 24px;
  font-weight: bold;
  background-color: #3e3e3e;
}

.info-text {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 16px 24px;
}

.info-text-item {
  color: #303030;
  font-weight: bold;
}
